* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  color: #666;
  font-family: Georgia, serif;
}

header, main, footer {
  width: 80%;
  margin: 0px 10% 0px 10%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

.clear-fix {
  clear:both;
  height: 15px;
}

header section {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}

#logo-sect {
  float: left;
  width: 60%;
}

#icons {
  margin-top: 10px;
  float: right;
}

#icons img {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#logo-sect img {
  float: left;
  margin: 5px 10px 0px 0px;
}

#logo-text {
  font-family: 'Yellowtail', cursive;
  font-size: 2.3em;
  line-height: 1em;
  font-weight: bold;
  color: #333;
}

#logo-sect p {
  font-family: 'Oswald', sans-serif;
  font-size: 0.8em;
  color: #333;
  margin: 0px;
}

hr {
  background: repeating-linear-gradient(
  45deg,
  #888,
  #888 1px,
  #FFF 1px,
  #FFF 3px
  );
  height: 12px;
  margin-top: 30px;
}

main section {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  height: 71px;
}

#title-div {
  float: left;
}

#title-div h1 {
  font-size: 3em;
  line-height: 1em;
  font-weight: bold;
}

#title-div h5 {
  color: #B1B1B1;
  font-weight: 300;
  line-height: 2em;
}

#print-div {
  float: right;
  color: #B1B1B1;
  font-weight: 300;
  line-height: 9em;
  font-size: 0.83em;
  font-family: 'Oswald', sans-serif;
}

article {
  margin-top: 15px;
}

article img {
  width: 100%;
}

article p {
  margin-top: 30px;
  font-family: Georgia, serif;
}

#list-sect {
  margin-top: 30px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("images/list-bg.png");
  font-family: 'Comic Sans MS', serif;
}

.list-info {
  display: inline-block;
  width: 35%;
}

.spacer {
  display: inline-block;
  width: 10%;
}

footer {
  display: block;
  overflow: hidden;
}

footer section {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}

#author-sect {
  float: left;
  font-family: Georgia, serif;
}

#author-sect img {
  float: left;
  margin: 0px 10px 0px 0px;
}

#auth-text {
  font-weight: bold;
  font-size: 1.5em;
}

#author-sect p {
  margin-top: 10px;
}

#share-recipe {
  float: right;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #FFF;
  background-color: #AD5826;
  height: 3em;
  width: 150px;
  text-align: center;
  line-height: 3em;
  margin-top: 10px;
}

#legal {
  text-align: center;
  font-size: 0.8em;
  margin: 30px 0px 50px 0px;
}
